:root {
    text-size-adjust: 100%;
}

body,
html {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

body {

}

#main {
    // padding: 50px;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    overflow: hidden;
    color: white;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
}

.logo {
    position: absolute;
    padding: 0;
    margin: 0;
}

// .logo {
//     background-image: url('img/mm25.jpg');
//     width: 100px;
//     height: 100px;
//     background-repeat: no-repeat;
//     background-size: contain;
//     border-radius: 100%;
//     margin: 10px;
//     margin-left: auto;
//     margin-right: auto;
// }

.active {
    color: pink;
}

.site {
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(240, 240, 240);
    height: 100vh;


    .homePage, .aboutPage, .projectsPage {
        width: 100%;
        min-height: 100%;
        position: absolute;
    }



    .homePage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 100px;
        background-color: rgb(21, 21, 21);
    }

    .aboutPage {
        background-color: rgb(132, 21, 21);
    }

    .projectsPage {
        background-color: hsl(0deg, 0%, 95%);
        font-family: 'Montserrat', sans-serif;

        .project {
            background-color: rgb(220, 220, 220);
            min-height: 85vh;
            color: black;
            padding: 5vw;

            .titles {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                    font-weight: 500;
                .title {
                    font-size: 40px;
                }
                .rightInfo {
                    font-size: 50%;
                }
                .subtitle {
                    font-weight: 300;
                }
            }

            .rightInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }

        }
    }

    .aboutPage, .projectsPage {
        .titleText {
            border-bottom: 1px solid black;
            color: black;
            font-size: 60px;
            font-weight: bold;
            // display: flex;
            // justify-content: flex-start;
            // align-items: flex-end;
            height: 40vh;
            position: relative;
            span {
                position: absolute;
                bottom: 2.5vw;
                left: 5vw;
                font-weight: 700;
            }
        }
    }

    .scrollArrow {
        position: fixed;
        bottom: 0;
        color: black;
    }

    .box {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    a {
        text-decoration: inherit;
        color: inherit;
    }

    // .githubIcon {
    //     transition: color 0.3s ease-in-out;
    // }

    // .githubIcon:hover {
    //     color: black;
    // }

    .linkedinIcon {
        transition: background-color 0.3s ease-in-out;
    }

    .linkedinIcon:hover {
        background-color: #0e76a8;
    }

    #navBar {
        position: fixed;
        z-index: 999;
        top: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        // width: 100%;
        height: 100%;
        // background-color: rgba(36, 36, 36, 0.5);
        justify-content: flex-start;
        align-items: flex-end;
        color: white;
        list-style-type: none;
        gap: 20px;
        font-family: 'Source Code Pro', monospace;
        font-size: 24px;
        user-select: none;
        // >* {
        //     transform-origin: center right;
        // }
        // >*:hover {
        //     transform: scale(1.1);
        // }
    }
}